ISSUER_PUBLIC_DID_SEED='12345678901234567890123456789012'
SCHEMA_VERSION='1.2023.090701'
VERIFIER_WALLET_TOKEN=''
HOLDER_WALLET_TOKEN=''
ISSUER_WALLET_TOKEN=''
ISSUER_PUBLIC_DID=''
SCHEMA_ID_1=''
CRED_DEF_ID_1_NON_REVOC=''
CRED_DEF_ID_1_REVOCABLE_1K=''
CRED_DEF_ID_1=''
